.Checkout {
  justify-content: center;
  width: 80%;
  margin: 150px auto;
  padding: 20px 40px;
  transition: 0.3s;
  position: relative;
}

@media (max-width: 100px) {
  .Checkout {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .Checkout {
    width: 100%;
    padding-left: 2%;
  }
}

.Checkout > form {
  display: flex;
  flex-direction: column;
}
.Checkout div {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  .Checkout div {
    flex-direction: column;
    justify-content: space-between;
  }
}
.Checkout label {
  margin-right: auto;
  color: rgb(80, 35, 20);
  font-weight: bold;
  font-size: 1.3rem;
  width: 30%;
  letter-spacing: 0.2rem;
}

@media (max-width: 868px) {
  .Checkout label {
    margin-right: 0;
    font-size: 0.9rem;
    letter-spacing: 0.12rem;
    align-self: flex-start;
  }
}

.Checkout input {
  margin-left: 100px;
  width: 70%;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid rgb(187, 163, 145);
  color: rgb(80, 35, 20);
  outline: none;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .Checkout input {
    align-self: flex-start;
    margin-left: 0;
    width: 100%;
    padding: 10px 0;
    /* margin-top: 2%; */
  }
}

.SubmitBtn {
  cursor: pointer;
  background-color: #cf1e27;
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.8rem;
}
.Invalid {
  cursor: not-allowed;
  padding: 20px 0;
  border: none;
  outline: none;
  border-radius: 4px;
  color: rgb(133, 129, 129);
  font-size: 1.8rem;
  background-color: #ccc;
}

.CloseSignIn {
  position: absolute;
  right: 0;
  top: -15px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.x {
  margin-right: 2px;
  font-size: 2rem;
  transform: scaleY(0.8);
  color: rgb(80, 35, 20);
}

.InputsContainer {
  display: flex;
  flex-direction: column;
}
