.Summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7%;
  padding-left: 35px;
  padding-right: 5px;
}

@media (max-width: 768px) {
  .Summary {
    padding: 0 0 0 5px;
  }
}

.Buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.Buttons > button {
  padding: 10px 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .Buttons > button {
    font-size: 0.7rem;
    background-color: transparent;
    padding: 0;
  }
}
.Buttons > button:hover {
  box-shadow: 2px 3px 30px -10px #635151;
}

.Summary li {
  list-style: none;
  line-height: 1.9;
}

@media (max-width: 768px) {
  .Summary ul {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 0.9rem;
  }
}

.Summary > h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(51, 38, 38);
}

@media (max-width: 768px) {
  .Summary > h3 {
    font-size: 0.7rem;
  }
}
